body {  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    color: rgb(51, 59, 63);
    font-family: 'Roboto', sans-serif;
}
.container {
    margin-top: 50px;
    width: 980px;
    background-color: rgb(192, 166, 118);
    border-radius: 8px;
    box-shadow: -2px 2px 5px rgb(48, 48, 48);
    text-align: center;
}

ul {
    display: inline-block;
    width: 800px;
    text-align: left;
}
ol {
    display: inline-block;
    text-align: left;
}

.footer {
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(192, 166, 118);
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
img {
    border-radius: 8px;
    height: auto;
    width: 400px;
    box-shadow: -2px 2px 5px rgb(48, 48, 48);
}
a {
    font-size: large;
    text-decoration: none;
    color: black;
}
a:hover {
    color: tomato;
}