body {  
    text-align: center;
    background-color: rgb(206, 177, 124);
    color: rgb(51, 59, 63);
    font-family: 'Roboto', sans-serif;
}
ul {
    display: inline-block;
    text-align: left;
}
ol {
    display: inline-block;
    text-align: left;
}
img {
    border-radius: 8px;
    height: auto;
    width: 400px;
    box-shadow: -2px 2px 5px rgb(48, 48, 48);
}
a {
    font-size: large;
    text-decoration: none;
    color: rgb(77, 56, 56);
}
a:hover {
    font-size: x-large;
}